<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TPChartBasicRowTitles</key>
	<array/>
	<key>TPChartBasicRows</key>
	<array/>
	<key>TPChartPieAngle</key>
	<real>3.1400001049041748</real>
	<key>TPChartPieType</key>
	<integer>2</integer>
	<key>TPChartSize</key>
	<array>
		<real>250</real>
		<real>100</real>
	</array>
</dict>
</plist>
